<div class="list-section">
  <div class="list-container">
    <header>List</header>
  </div>
  <div class="actions-section">
    <button class="primary-button icon-button add-list-button">
      <i class="icon-plus"></i>
    </button>
    <button class="primary-button icon-button edit-list-button">
      <i class="icon-edit"></i>
    </button>
    <button class="negative-button icon-button delete-list-button">
      <i class="icon-trash"></i>
    </button>
  </div>
</div>
<div class="task-section">
  <div class="task-container">
    <header>Task</header>
  </div>
  <div class="add-task-button">
    <button class="primary-button">add task</button>
  </div>
</div>
