body {
  margin: 0;
}

.main-page {
  width: 100%;
  height: 100vh;
  background-color: aquamarine;

  .todo-list-container {
    display: flex;
    height: 100%;

    .list-section {
      flex: 1;

      .list-container {
        height: 90%;
      }
      .add-list-button {
      }
    }
    .task-section {
      flex: 2;

      .task-container {
        height: 90%;
      }
      .add-task-button {
      }
    }
  }
}
