
.icon-search:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e813'; } /* '' */
.icon-ok-circled:before { content: '\e814'; } /* '' */
.icon-ok-circled2:before { content: '\e815'; } /* '' */
.icon-cancel:before { content: '\e816'; } /* '' */
.icon-cancel-circled:before { content: '\e817'; } /* '' */
.icon-cancel-circled2:before { content: '\e818'; } /* '' */
.icon-plus:before { content: '\e819'; } /* '' */
.icon-plus-circled:before { content: '\e81a'; } /* '' */
.icon-minus:before { content: '\e81b'; } /* '' */
.icon-minus-circled:before { content: '\e81c'; } /* '' */
.icon-home:before { content: '\e81f'; } /* '' */
.icon-bell:before { content: '\e837'; } /* '' */
.icon-down-dir:before { content: '\e855'; } /* '' */
.icon-up-dir:before { content: '\e856'; } /* '' */
.icon-left-dir:before { content: '\e857'; } /* '' */
.icon-right-dir:before { content: '\e858'; } /* '' */
.icon-down-open:before { content: '\e859'; } /* '' */
.icon-left-open:before { content: '\e85a'; } /* '' */
.icon-right-open:before { content: '\e85b'; } /* '' */
.icon-up-open:before { content: '\e85c'; } /* '' */
.icon-down-big:before { content: '\e85d'; } /* '' */
.icon-left-big:before { content: '\e85e'; } /* '' */
.icon-off:before { content: '\e88c'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
