<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../../style.css" />
  </head>
  <body>
    <div class="main-page" onkeyup="onKeyUp(event,taskTitle.value)">
      <div class="title-bar"></div>
      <input id="taskTitle" type="text" placeholder="Task Title" autofocus />
      <input type="submit" value="save" onclick="submit(taskTitle.value)" class="primary-button"/>
    </div>
    <script>
      const { ipcRenderer } = require("electron");
      let taskId = null;
      ipcRenderer.on("getTaskDefaultValue", setDefaultValue);
      function setDefaultValue(event, task) {
        const titleInput = document.querySelector("#taskTitle");
        titleInput.value = task.title;
        taskId = task.id;
      }
      function onKeyUp(e, value) {
        if (e.key === "Enter" || e.keyCode === 13) submit(value);
      }
      function submit(value) {
        if (value) ipcRenderer.send("saveTask", value, taskId);
      }
    </script>
  </body>
</html>
